name: Create Advent of Code 2023 badges 

on: 
  push:
    paths:
      - '2023/src/**' # Triggers when changing solutions
  workflow_dispatch:

jobs:
  add_stars_to_2023_dir:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: joblo2213/aoc-badges-action@master
        with:
          userid: ${{ secrets.AOC_USER_ID }}
          session: ${{ secrets.AOC_SESSION_SECRET }}
          year: 2023
          file: '2023/README.md'
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update badges
          file_pattern: '**/README.md'

  add_stars_to_main_dir:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: joblo2213/aoc-badges-action@master
        with:
          userid: ${{ secrets.AOC_USER_ID }}
          session: ${{ secrets.AOC_SESSION_SECRET }}
          year: 2023
          file: 'README.md'
          starsRegex: '(?<=2023\]\(https:\/\/img\.shields\.io\/badge\/stars%20â­-)[0-9]+(?=-yellow)' 
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update badges
          file_pattern: 'README.md'
